{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}{{ title }}{% endblock %}

{% block content %}
<div class='row block-center'>
        <form method='POST' action="" class="form-horizontal">
            {% csrf_token %}
            <div class='col-md-6 col-md-offset-3'>
                {% bootstrap_form bet_create_form %}
                <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Create Bet" /></div>
            </div>
        </form>
</div>
{% endblock %}