{% extends 'base.html' %}
{% load bootstrap %}

{% block header_text %}{{ title }}{% endblock %}

{% block content %}
<div class='col-lg-4 col-lg-offset-4'>
    <form method='POST' action="">
        {{ form|bootstrap }}
        {% csrf_token %}
        <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Submit" /></div>
    </form>
</div>
{% endblock %}