{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}Create Market{% endblock %}

{% block content %}
<form method='POST' action="">
<div class="row">
    <div class='col-lg-6'>
        <h3>Market info:</h3></h4>
        {% bootstrap_form market_create_form %}
    </div>

    <div class='col-lg-6'>
        <h3>Choices: </h3>
        {% bootstrap_formset choices_create_formset layout='inline' %}
        {% csrf_token %}
    </div>
</div>

</br>

<div class="row">
    <div class='col-md-4 col-md-offset-4 text-center'>
            {% buttons submit='Create Market' reset='Reset' %}{% endbuttons %}
        </div>
</form>
</div>
{% endblock %}