{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}{{ title }}{% endblock %}

{% block content %}
<div class='col-lg-4 col-lg-offset-4'>
    <h4>Market: {{ market.name }}</h4>
    <form method='POST' action="">
        {% bootstrap_form market_close_form %}
        {% csrf_token %}
        <div class="text-center"><input class="btn btn-danger" name="submit" type="submit" value="Close market" /></div>
    </form>
</div>
{% endblock %}