{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}Markets{% endblock %}

{% block content %}
    <div class="row">
        <div class='col-md-4 col-md-offset-4 text-center'>
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'market_create' %}">Create Market</a>
            </br>
            {% bootstrap_pagination markets url="/markets/?page=1" size="small" %}

        </div>
    </div>
    <div class="row">
    {% for market in markets %}
    <div class='col-md-8 col-md-offset-2'>
        <div class="panel {% if market.owner == user.marketaccount %}panel-success{% else %}panel-info{% endif %}">
            <div class="panel-heading"><h4><a href="{% url 'market_detail' market_id=market.id %}">{{ market.name }}</a></h4></div>

            <div class="panel-body">
                <p>{{ market.description|truncatechars:200 }}</p>
                <a class='btn btn-primary' href="{% url 'market_detail' market_id=market.id %}">View market</a>
            </div>

        </div>
    </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class='col-md-4 col-md-offset-4 text-center'>
            {% bootstrap_pagination markets url="/markets/?page=1" size="small" %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'market_create' %}">Create Market</a>
        </div>
    </div>

{% endblock %}