{% extends 'base.html' %}

{% block header_text %}Account for {{ user.username }}{% endblock %}

{% block content %}
<div class="row">
    <div class='col-md-12'>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Balance</h3></div>
            <div class="panel-body"><h4>{{ user.marketaccount.balance }}</h4></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h3>Bets</h3></div>
            <table class="table table-bordered">
                <tr>
                    <td><h4>Market</h4></td>
                    <td><h4>Cost</h4></td>
                    <td><h4>Answer</h4></td>
                </tr>
                {% for bet in user.marketaccount.bets.all %}
                <tr>
                    <td><a href="{% url 'market_detail' market_id=bet.market.id %}">{{ bet.market }}</a></td>
                    <td>{{ bet.cost|floatformat:2 }}</td>
                    <td>{{ bet.market.render_status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h3>Markets</h3></div>
            <table class="table table-bordered">
                <tr>
                    <td><h4>Market</h4></td>
                    <td><h4>Answer</h4></td>
                </tr>
                {% for market in user.marketaccount.markets.all %}
                <tr>
                    <td><a href="{% url 'market_detail' market_id=market.id %}">{{ market }}</a></td>
                    <td>{{ market.render_status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}