{% extends 'base.html' %}
{% block header_text %}{{ market.name }}{% endblock %}

{% block content %}
<div class='row'>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Description</h3></div>
            <div class="panel-body"><p>{{ market.description }}</p></div>
        </div>

        <div class='panel panel-default'>
            <div class='panel-heading'><h3>Bet history</h3></div>
            <table class='table'>
                <tr>
                    <td><h5>Bettor</h5></td>
                    {% for choice in market.choices.all %}
                        <td><h5>{{ choice.name }}</h5></td>
                    {% endfor %}
                </tr>
                {% for bet in market.bets.all.reverse %}
                    <tr>
                        <td>{{ bet.owner.user }}</td>
                        {% for prob in bet.probabilities.all %}
                            <td>{{ prob.render_prob }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-4">
        {% ifequal market.status market.OPEN %}
            <div class="text-center">
                {% if user.marketaccount == market.patron %}
                    <a href="{% url 'market_edit' market_id=market.id %}" class='btn btn-lg btn-block btn-warning'>Edit market</a>
                    <a href="{% url 'market_close' market_id=market.id %}" class='btn btn-lg btn-block btn-danger'>Close market</a>
                {% else %}
                    <a href="{% url 'bet_create' market_id=market.id %}" class='btn btn-lg btn-block btn-primary'>Make bet</a>
                {% endif %}
            </div>
        {% else %}
            <div class="panel panel-warning">
                <div class="panel-heading"><h3>Market closed</h3></div>
                <div class="panel-body">
                    <h4>The answer to this market was evaluated as "<em>{{ market.answer.name }}</em>"</h4>
                </div>
            </div>
        {% endifequal %}
        </br>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Current estimate</h3></div>
            <table class="table">
            {% for prob in latest_bet.probabilities.all %}
                <tr>
                    <td><h4>{{ prob.choice.name }}</h4></td>
                    <td><h4>{{ prob.render_prob }}</h4></td>
                </tr>
            {% endfor %}
            </table>
        </div>

    </div>

</div>

{% endblock %}