{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}{{ title }}{% endblock %}

{% block content %}
<div class='col-lg-4 col-lg-offset-4'>
    <h4>Name: {{ market.name }}</h4>
    <h4>Seed fund: {{ market.seed_fund }}</h4>
    <form method='POST' action="">
        {% bootstrap_form market_edit_form %}
        {% csrf_token %}
        <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Submit" /></div>
    </form>
</div>
{% endblock %}