{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}Login{% endblock %}

{% block content %}
    <div class='col-md-4 col-md-offset-4'>
        <form id="login_form" method="POST" action="{% url 'login' %}">
            {% bootstrap_form form %}
            <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Log in" /></div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}