{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}Sign Up{% endblock %}

{% block content %}
    <div class='col-md-4 col-md-offset-4'>
        <form id="signup_form" method="POST" action={% url 'signup' %}>
            {% bootstrap_form form %}
            <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Sign up" /></div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}