{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header_text %}Playmarket{% endblock %}

{% block content %}
    {% if logged_in %}
        <h2>Welcome, {{ user }}!</h2>
        <a type="button" class="btn btn-danger" id="logout" href="{% url 'logout' %}">Log out</a>
        <a type="button" class="btn btn-primary" id="market_create" href="{% url 'market_create' %}">Create Market</a>
        <div c
    {% else %}
        <div class='col-md-4 col-md-offset-2'>
            <h3 class="text-center">Login</h3>
            <form id="login_form" method="POST" action={% url 'login' %}>
                {% bootstrap_form login_form  %}
                <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Log in" /></div>
                {% csrf_token %}
            </form>
        </div>

        <div class='col-md-4'>
        <h3 class="text-center">SignUp</h3>
        <form id="signup_form" method="POST" action={% url 'signup' %}>
            {% bootstrap_form signup_form %}
            <div class="text-center"><input class="btn btn-primary" name="submit" type="submit" value="Sign up" /></div>
            {% csrf_token %}
        </form>
        </div>
    {% endif %}
{% endblock %}