{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playmarket: Play Money Prediction Markets</title>
        <meta name="viewport" content="width=device=width,initial-scale=1.0" />
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#playmarkets-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_page' %}">Playmarkets</a>
            </div>

            <div class="collapse navbar-collapse" id="playmarkets-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'market_list' %}">Markets</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'market_account_detail' %}">Account</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><p class="navbar-text">{{ user }} balance: {{ user.marketaccount.balance }}</p></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    <body>
        <div class='page-header text-center'>
            <h2>{% block header_text %}{% endblock %}</h2>
        </div>

        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </br>
    </body>

</html>